*{
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
   
/* 
 * {
    outline: 1px solid red !important;
 } 
 */

body {
    background-color: rgb(224, 224, 224);
    padding-top: 100px;
    color: rgb(2, 2, 30);
}


.flex-container{
    padding-top:0px;
    border-radius: 10px;
    background-color: azure;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 650px;
    margin: 0 auto;
    box-shadow: 10px 5px 25px rgba(0, 0, 0, 0.263);
    
}

.container{
    background-color: #fff;
    width: 380px;
    height: 100%;

    
}

.item1{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item2{
    flex-grow: 2;
    background-image: url("https://images.pexels.com/photos/1462630/pexels-photo-1462630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logincontainer {
    width: 280px;
}

.lc{
    border-radius: 6px;
    width: 280px;
    height: 35px;
/*     outline: 1px solid red !important; */

}

.lc + input {
    border-color: rgb(223, 223, 223);
    border-style: solid;
    margin-bottom: 8px;

}

.children_lc {
    width: 290px;
    font-size: 10pt;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}




.logincontainer  label {
    font-size: 10pt;
    font-weight: bold;
}



.i5 {
    margin-top: 10px;
    background-color: rgb(2, 2, 30);
    cursor: pointer;
    color: white;
    font-weight: 700;
    width: 100%;
    
}

.i6{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(2, 2, 30);
    cursor: pointer;
    font-weight: 700;
    width: 100%;
    border-color: rgb(206, 206, 206);
    border-style: solid;

}

.message{
    line-height: 6px;
}

.message > p {
    margin-top: 24px;
    margin-bottom: 24px;
    color: gray;
    font-size: 10pt;
}

input{
    padding: 10px;
}

.logincontainer_footer{
    font-size: 10pt;
    color: gray;
/*     outline: 1px solid red !important; */
}

.item2_text{
    color: #fff;
    margin: 15px;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100%;
    padding: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 10px 5px 25px rgba(31, 31, 31, 0.495);

}
   

.ftext {
    margin: auto 0;
    padding-right: 5px;
}

.f2{
    width: 100%;
    display: inline-block;
    text-align: right;
    color: rgb(255, 255, 255);
}

 .ftext_div1{
    width: 100%;
    display: flex;
    justify-content: space-between;

 }

 .ftext_div1_2{
/*     outline: 1px solid red !important; */
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 80px;
    font-size: 25px;
 }

 .ftext_div1_2 :first-child{
    transition: all .5s;
 }

 .ftext_div1_2 :first-child:hover{
    font-size: 35px;
 }


.imgsubcont{
    margin: -15px;
    display: flex;
    justify-content: flex-end;

 }

 .buttonConter{
    padding: -50PX;
 }

 .conterGoogleLogo{
    margin: 0;
/*     outline: 1px solid red !important; */
    display: flex;
    align-items: center;
 }

 .fa-brands {
/*     outline: 1px solid red !important; */
    position: absolute;
    padding-left: 45px;
    margin-top: 5px;
    width: 70px;
 }
